
h1 {
     padding: 10px;
    font-size: 6em;
    font-weight: bold;
    margin: .3em 0;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, rgb(255, 190, 228), rgb(255, 102, 178));
    text-align: center;
    
}

h3 {
    font-size: 1.5em;
    margin: 0.2em 0 0.5em 0;
    color: rgb(102, 0, 51);
    text-align: center;
}

#container {
    padding:30px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

#canvas {
    border: 6px solid rgb(255, 153, 212);
    width: 900px;
    margin-bottom: 2em;
 background-color: rgb(255, 255, 255);
 margin: auto;
 padding: 10px;
}

body { 
    font-family: 'Bitcount Prop Single';
   font-size: 22px;
    background-color: rgb(255, 221, 239)
}

button {
    font-family: 'Bitcount Prop Single';
    font-size: 18px;
    background-color: rgb(255, 153, 212);
    border: 2px solid rgb(255, 102, 178);
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}